.header {
    color: red;
    text-transform: uppercase;
    text-align: center;
}
.personalImg {
    text-align: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.menu {
    text-align: center;
}
ul {
    list-style-type: none;
  }

li {
    display: inline;
    padding: 30px;
}
li a {
    text-decoration: none;
    color: pink;
    font-size: 30px;
}
li a:hover {
    color: black;
}

.intro {
    font-size: 30px;
    text-align: center;
}
.img {
    height: 800px;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.edu {
    margin-left: 450px;
    font-size: 30px;
}

.contactinfo {
    font-size: 30px;
    margin-left: 550px;
}